@using WebApplicationIntcomex.Models;
@model List<ClientDTO>
<!-- GRID -->
<table id="tablaClients" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>User client</th>
            <th>Name</th>
            <th>Charge</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Contract</th>
            <th class="visible-md visible-lg hidden-sm hidden-xs" style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ClientDTO client in Model)
        {
            <tr>
                <td>@client.UserClient</td>
                <td>@client.FullName</td>
                <td>@client.Charge</td>
                <td>@client.PhoneNumber</td>
                <td>@client.Email</td>
                <td>@client.Contract</td>
                <td>
                    <div>
                        <a href="" class="update-modal" data-target="#modal-form-create-client" data-toggle="modal" data-id-client="@client.IdClient" title="Update">
                            <i class="bi bi-pencil text-success"></i>
                        </a>
                        <a href="" class="red delete-client" title="Delete" data-id-client="@client.IdClient" data-nombre="@client.FullName">
                            <i class="bi bi-trash text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
