@model WebApplicationIntcomex.Models.ClientVM
<form asp-controller="Client" asp-action="Index" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <h1>
                Clients Administration
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-left pt-3">
            <button type="button" autofocus class="btn btn-info create-btn form-control" data-toggle="modal" data-target="#modal-form-create-client">
                Create client
            </button>
        </div>
    </div>
    <hr />
    <div class="row">
        <input type="hidden" id="hdIdClient" />
        @if (Model != null)
        {
            <div class="col-md-12 bg-white" id="tblResultado">
                <div class="table-header">
                    <div class="row">
                        <div class="col-md-12 bg-info text-light form-control">
                            Clients search results
                        </div>
                    </div>
                    <br />
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="div-table">
                    @await Html.PartialAsync("_Clients", Model.ListClients)
                </div>
            </div>
        }
    </div>
</form>
@await Html.PartialAsync("_ModalCrearClient", Model?.modelPopUp)
@section scripts{
    <script>
        var urlGetAll = '@Url.Action("GetAll", "Client")',
            urlGetById = '@Url.Action("GetById", "Client")',
            urlCreate = '@Url.Action("Create", "Client")',
            urlUpdate = '@Url.Action("Update", "Client")',
            urlDelete = '@Url.Action("Delete", "Client")';
    </script>
    <script src="@Url.Content("~/scriptapp/Client.js")"></script>
}
